﻿<!DOCTYPE html>
<html>
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=0.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("style", required: false)
    @Styles.Render("~/Content/css")
    @RenderSection("styles", required: false)
    <link href="~/Content/Fontawesome/css/all.css" rel="stylesheet" />
</head>
<body>
    <div class="container body-content">
        <ul id="navbar-example2" class="nav navbar bg-light">
            <li class="nav-item">
                <a class="nav-link active" href="#Inicio"><i class="fas fa-home fa-lg"></i>Inicio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#Conocenos"><i class="far fa-newspaper fa-lg"></i>Conocenos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#Contactos"><i class="fas fa-id-badge fa-lg"></i>Contactos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#Servicios"><i class="fab fa-servicestack fa-lg"></i>Servicios</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#Cotizacion"><i class="fal fa-calculator fa-lg"></i>Cotizacion</a>
            </li>
        </ul>

        @RenderBody()

    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
