﻿
@{
    ViewBag.Title = "_KnowUs";
}
<div class="gradient-efects-knowus">
    <div class="container container-knowUs">
        <div class="jumbotron">
            <div class="row align-items-lg-end">
                <div class="col text-center"    >
                    <i class=" text-center fas fa-address-card fa-lg"></i>
                </div>
            </div>
            <div class="row align-items-lg-start">
                <div class="col">
                    <h1 class="text-center Aboutus">Quienes somos</h1>
                    <p class="text-center writeabout">
                        La compañia Vicsoft va dirigida a pequeñas o medianas empresas que requieran dar a conocer sus productos
                        o servicios por medio de un sistema web, aplicaciòn movil o de escritorio. Utilizando las tecnollogias mas
                        actuales como es: ASP.net con Entity Framework, Bootstrap 4, Javascript, JQuery y PHP.
                    </p>
                </div>
            </div>
            <div class="row align-items-lg-end">
                <div class="col text-center">
                        <i class="fas fa-sort-alpha-down"></i>
                </div>
            </div>
            <div class="row align-items-lg-center">
                <div class="col">
                    <h1 class="text-center Aboutus">Objetivo</h1>
                    <p class="text-center writeabout">
                        la compañía Vicsoft se enfoca en llegar a pequeñas y medianas empresas para dar una forma de satisfacer
                        el rendimiento de sus empleados generando servicios web, aplicaciones moviles y de escritorio que apoyen
                        en la administración y organización empresarial facilitando los procesos internos.
                    </p>
                </div>
            </div>
            <div class="row align-items-lg-end fa-lg">
                <div class="col text-center">
                       <i class="far fa-eye"></i>
                </div>
            </div>
            <div class="row align-items-lg-start">
                <div class="col">
                    <h1 class="text-center Aboutus">Visión</h1>
                    <p class="text-center writeabout">
                        Se pretende ser la empresa tecnologica que genere las tecnologias mas atractiva para todas la empresas
                        chica o mediana del pais.
                    </p>
                </div>
            </div>
        </div>
        
    </div>


</div>
