﻿
@{
    ViewBag.Title = "_Vicsoftpage";
}
    <div class="gradient-efects">
        <div class="container container-landing-page">
        <div  class="row align-items-lg-end">
            <div class="col">
                <p class="title-vicaoft">Vicsoft Soluctions</p>
                <p class="sub-title">
                    Da a conocer tu marca o negocio por mediante una solución web profesional a tu medida.
                </p>
            </div>
        </div>
            <div class="row align-items-lg-center">
                <div class="col">
                    <a href="#Conocenos" class="btn-lg btn-title text_buton">Conocer más</a>
                </div>
            </div>
    </div>
       
</div>

