﻿@{
    ViewBag.Title = "Home Page";
    @model AppVicsoft.Models.ViewModels.ContactViewModels

}
<div data-spy="scroll" data-target="#navbar-example2" data-offset="0" class="container-page">
    <div class="container-page img_vicsoft" id="Inicio">
        @Html.Partial("_Vicsoftpage")
    </div>
    <div class=" body-knowus" id="Conocenos">
        @Html.Partial("_KnowUs")
    </div>
</div>

@section scripts{
    <script src="~/Scripts/Sites.js"></script>
}


