﻿html, body {
    height: 100%;
    width: 100%;
}

body {
    margin:0px;
    padding:0px;
    
}
.container-landing-page {
    color: white;
    height: 100%;
}
.container-knowUs{
    color: black;
    height: 100%;
}
.sub-title{
    font:normal;
    font-family:'Open Sans';
    font-size:40px;
}

.btn-title {
    font-family: Cambria;
    font: normal;
    font-size: 45px;
    background-color: #653308;
    max-width:100%;
}

.btn-title:hover {
    background-color: rgba(101, 51, 8, 0.75);
    cursor:pointer;
}

.title-vicaoft {
    font:normal;
    font-family:'Maiandra GD';
    font-size: 100px;
    color: #FDCA2E;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    margin:0px;
    padding:0px;
    max-height:100%;
    max-width:100%;
    background:#808080;
    background-size:cover;
    height:100%;

  
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.container-page {
    padding: 0px;
    margin: 0px;
    height: 100%;
    max-width: 100%;
    background-size:cover;
}
.circulo{
    border-radius:100%;
    border-color:saddlebrown;
    border-bottom:double;
    width:12px;
    height:12px;
    background-color:red;
    color:yellow;
}
.img_vicsoft {
    background-image: url('images/programacion.jpg');
    margin: 0px;
    padding: 0px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed;
    height:100%;
    filter: 50%;
    margin-top:-20px;
    
  
}
.Aboutus {
    text-align: center;
    font: normal;
    font-size: 30px; 
    font-family:'Open Sans';
}
.writeabout {
    font: normal;
    font-size: 20px;  
    font-family:sans-serif;
}
.body-knowus {
    margin: 0px;
    padding: 0px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    filter: 50%;
    margin-top: -20px;
    background-color:white;
}

.gradient-efects {
    text-align: center;
    color: white;
    background-color: rgba(101, 51, 8, 0.25);
    padding: 0px;
    margin: 0px;
    height:100%;
    background-size: cover;
    background-attachment: fixed;
}
.gradient-efects-knowus {
    background-color: white;
    padding: 0px;
    margin: 0px;
    height: 100%;
    background-size: cover;
    background-attachment: fixed;
}
#information_vicsoft{
    font-family:'Microsoft Sans Serif';
    font-size:15px;
    margin-top:10px;
}
.logo_vicsoft{
    width:82px;
    height:35px;
    position:absolute;
    left:2%;
    margin-top:5px;
}
#texto_minf {
    display: none;
}

#texto_vinf {
    display: none;
}
.body-color{
    background-color:#f5df68;
}
.text_buton{
    color:white;
}
.text_buton:hover{
    text-decoration:none;
    color:white;
}

